@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
}

body,
input {
	font-family: 'Montserrat', Verdana, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
button span {
	font-family: 'Montserrat', Verdana, Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	margin: 0;
	padding: 0;
}

.bg-auth-lg-background {
	background: hsla(174, 82%, 29%, 0.2);
}

.container-banner {
	@apply bg-primary-500 h-[45vh] w-full;
}

.profile-top-image {
	background-image: url(/images/auth-bg.jpg);
	/* background-position-y: -100px; */

	@apply bg-cover bg-no-repeat h-[45vh] w-full;
}

.profile-top-image .wrapper,
.container-banner .wrapper {
	background-color: rgba(0, 0, 0, 0.3);

	@apply h-full w-full;
}

.sidebar-close-icon {
	@apply bg-transparent cursor-pointer duration-300 flex h-10 items-center justify-center rounded-full text-primary-600 text-xl transform transition w-10 hover:bg-gray-200 hover:scale-110 lg:hidden;
}

.sidebar-link {
	@apply cursor-pointer flex items-center justify-between no-underline p-4;
}

.sidebar-link.active {
	@apply bg-primary-500 text-gray-100 tracking-widest;
}

.sidebar-link.disabled {
	@apply bg-gray-500 text-gray-100 tracking-widest;
}

.sidebar-link.active .link-icon,
.sidebar-link:hover .link-icon {
	@apply text-gray-100;
}

.sidebar-link.inactive {
	@apply duration-500 text-gray-700 transform transition hover:bg-primary-500 hover:text-gray-100 hover:tracking-widest;
}

.sidebar-logout {
	@apply text-red-500;
}

.sidebar-logout:hover {
	@apply border-red-300 shadow-lg text-red-400 !important;
}

@media (min-height: 500px) {
	.sidebar-logout {
		@apply absolute bottom-10;
	}
}

/*.ant-switch-checked.active-device {
  @apply bg-gray-100;
}

.ant-switch-checked.active-device:hover {
  @apply hover:bg-gray-300;
}

.ant-switch-checked.active-device .ant-switch-handle::before {
  @apply bg-primary-500;
}
*/
